{%extends 'Template.html'%}
{%block Title%}Crypto Index{%endblock%}
{%block content%}
<div class="toppanel">
    <div class="smallpanel">
        <span class="title">Total Coins</span>
        <span class="filterint">{{Data.stats.totalCoins}}</span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Markets</span>
        <span class="filterint">{{Data.stats.totalMarkets}}</span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Exchanges</span>
        <span class="filterint">{{Data.stats.totalExchanges}}</span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Market Cap</span>
        $<span class="fixcomma">{{Data.stats.totalMarketCap}}</span>
    </div>
    <div class="smallpanel">
        <span class="title">Total 24H Volume</span>
        $<span class="fixcomma">{{Data.stats.total24hVolume}}</span>
    </div>
</div>
<div class="pages">
    <ul>
        {%if UrlPage > 2%}
        <a href="{%url 'CryptoIndex' 1%}">
            <li>1</li>
        </a>
        <li>...</li>
        {%endif%}
        {%if UrlPage != 1%}
        <a href="{%url 'CryptoIndex' -1|add:UrlPage%}">
            <li>{{UrlPage|add:"-1"}}</li>
        </a>
        {%endif%}
        <!--
        {%if UrlPage >= MaxPage|add:"-5"%}
        <a href="{%url 'CryptoIndex' MaxPage|add:'-4'%}"><li>{{MaxPage|add:'-4'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-3'%}"><li>{{MaxPage|add:'-3'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-2'%}"><li>{{MaxPage|add:'-2'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-1'%}"><li>{{MaxPage|add:'-1'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage%}"><li>{{MaxPage}}</li></a>
        
        {%endif%}
        -->
        {%for i in '012345'|make_list %}
        {%if i|add:UrlPage <= MaxPage%}
        {%if i == '0'%}
        <li class="activepage">{{i|add:UrlPage}}</li>
        {%else%}
        <a href="{%url 'CryptoIndex' i|add:UrlPage%}">
            <li>{{i|add:UrlPage}}</li>
        </a>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%if UrlPage < MaxPage|add:"-5"%} <li>...</li>
            <a href="{%url 'CryptoIndex' 0|add:MaxPage%}">
                <li>{{MaxPage}}</li>
            </a>
            {%endif%}
    </ul>
</div>
<div class="indexpanel">
    <table>
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 9%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 16%;">
        </colgroup>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>% Change</th>
            <th>Price</th>
            <th>24h Volume</th>
            <th>Trend</th>
            <th>Market Cap</th>
        </tr>
        {%for i in Data.coins%}
        <tr class="obj" id="{{ forloop.counter0 }}">
            <td>#{{i.rank}}</td>

            <td>
                <img src="{{i.iconUrl}}" style="width: 20px;height: 20px;vertical-align:middle;"></img>
                <a href="{%url 'DetailedCrypto' i.uuid%}">
                    <span>{{i.name}}({{i.symbol}})</span>
                </a>
            </td>
            </a>
            <td style="text-align: right;">
                {%if i.change >= '0'%}
                <span class="filterint" style="color: #2ECC71;">{{i.change}}</span>
                {%else%}
                <span class="filterint" style="color: #E74C3C;">{{i.change}}</span>
                {%endif%}
            </td>
            <td style="text-align: right;">$<span class="filterint" data-target="{{i.price}}">{{i.price}}</span></td>

            <td style="text-align: right;">$<span class="filterint" data-target="{{i.24hVolume}}">{{i.24hVolume}}</span>
            </td>
            <td class="sparklines">
                <canvas id="{{ forloop.counter0 }}" style="width: 250px !important;height: 40px !important;"></canvas>
            </td>
            <td style="text-align: right;">$<span class="filterint" data-target="{{i.marketCap}}">{{i.marketCap}}</span>
            </td>
            <!--<td style="text-align: right;"><span class="epoch">{{i.listedAt}}</span></td>-->
        </tr>
        {%endfor%}
    </table>
</div>

<div class="pages">
    <ul>
        {%if UrlPage > 2%}
        <a href="{%url 'CryptoIndex' 1%}">
            <li>1</li>
        </a>
        <li>...</li>
        {%endif%}
        {%if UrlPage != 1%}
        <a href="{%url 'CryptoIndex' -1|add:UrlPage%}">
            <li>{{UrlPage|add:"-1"}}</li>
        </a>
        {%endif%}
        <!--
        {%if UrlPage >= MaxPage|add:"-5"%}
        <a href="{%url 'CryptoIndex' MaxPage|add:'-4'%}"><li>{{MaxPage|add:'-4'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-3'%}"><li>{{MaxPage|add:'-3'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-2'%}"><li>{{MaxPage|add:'-2'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-1'%}"><li>{{MaxPage|add:'-1'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage%}"><li>{{MaxPage}}</li></a>
        
        {%endif%}
        -->
        {%for i in '012345'|make_list %}
        {%if i|add:UrlPage <= MaxPage%}
        {%if i == '0'%}
        <li class="activepage">{{i|add:UrlPage}}</li>
        {%else%}
        <a href="{%url 'CryptoIndex' i|add:UrlPage%}">
            <li>{{i|add:UrlPage}}</li>
        </a>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%if UrlPage < MaxPage|add:"-5"%} <li>...</li>
            <a href="{%url 'CryptoIndex' 0|add:MaxPage%}">
                <li>{{MaxPage}}</li>
            </a>
            {%endif%}
    </ul>
</div>

<script>
    let ep = document.querySelectorAll(".epoch");
    ep.forEach(element => {
        element.innerHTML = convertepoch(element.innerHTML);
    });

    function convertepoch(date) {
        var myDate = new Date(date * 1000);
        return myDate.toLocaleString();
    }
</script>
<script>
    var sparklines = document.querySelectorAll(".sparklines");
    function parseJson(data) {
        console.log(JSON.parse(data));
    }
    const data = null;

    const xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function () {
        if (this.readyState === this.DONE) {
            var respone = JSON.parse(this.responseText);
            responsee = respone.data.coins
            for (i = 0; i <= responsee.length; i++) {
                var y = responsee[i].sparkline.map(function (elem) {
                    return elem;
                })
                var x = Object.keys(y);
                var backgroundColors = [];
                for (j = 0; j <= y.length; j++) {
                    if (y[j] >= y[j - 1]) { backgroundColors.push('#2ECC71') }
                    else { backgroundColors.push('#E74C3C') }
                }
                const up = (context, value) => context.p0.parsed.y < context.p1.parsed.y ? value : undefined;
                const down = (context, value) => context.p0.parsed.y > context.p1.parsed.y ? value : undefined;

                const ctx = document.getElementById(i).getContext('2d');
                let delayed;
                let gradient = ctx.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, "rgba(5,56,107,1)");
                gradient.addColorStop(1, "rgba(127,90,131,0.8)");
                window.myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: x,
                        datasets: [{
                            label: '',
                            data: y,
                            borderColor: backgroundColors,
                            fill: true,
                            borderWidth: 1.2,
                            tension: 0.3,
                            segment: {
                                borderColor: context => up(context, "#2ECC71") || down(context, "#E74C3C"),
                            },
                        }]
                    },
                    options: {
                        radius: 1,
                        hover: {mode: null},
                        tooltips: {enabled: false},
                        scales: {
                            x: {
                                ticks: {
                                    display: false,
                                    callback: function (value) {
                                        return;
                                    },
                                },
                                grid: {
                                    color: "rgba(0, 0, 0, 0)",
                                },
                            },
                            y: {
                                ticks: {
                                    display: false,
                                    callback: function (value) {
                                        return "$" + value;
                                    },
                                },
                                grid: {
                                    color: "rgba(0, 0, 0, 0)",
                                },
                            }
                        },
                        hover: {
                            intersect: false
                        },
                        maintainAspectRatio: false,
                        normalized: true,
                        plugins: {
                            legend: {
                                display: false,
                            }
                        }
                    }
                });
                myChart.reset();
                myChart.update();
            }
        }
    });
    xhr.open("GET", "https://coinranking1.p.rapidapi.com/coins?referenceCurrencyUuid=yhjMzLPhuIDl&timePeriod=24h&orderBy=marketCap&orderDirection=desc&limit=50&offset=200");
    xhr.setRequestHeader("x-rapidapi-host", "coinranking1.p.rapidapi.com");
    xhr.setRequestHeader("x-rapidapi-key", "1308a3e81fmshc5c7805a1477572p1ac776jsn696bc69cace6");

    xhr.send(data);
</script>
{%endblock%}