{%extends 'Template.html'%}
{%block Title%}Crypto Index{%endblock%}
{%block content%}
<div class="toppanel">
    <div class="smallpanel">
        <span class="title">Total Coins</span>
        <span class="animatew" data-target="{{Data.stats.totalCoins}}"></span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Markets</span>
        <span class="animatew" data-target="{{Data.stats.totalMarkets}}"></span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Exchanges</span>
        <span class="animatew" data-target="{{Data.stats.totalExchanges}}"></span>
    </div>
    <div class="smallpanel">
        <span class="title">Total Market Cap</span>
        <span class="animate" data-target="{{Data.stats.totalMarketCap}}"></span>
    </div>
    <div class="smallpanel">
        <span class="title">Total 24H Volume</span>
        <span class="animate" data-target="{{Data.stats.total24hVolume}}"></span>
    </div>
</div>
<div class="indexpanel">
    <table>
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 9%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 16%;">
        </colgroup>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>% Change</th>
            <th>Price</th>
            <th>24h Volume</th>
            <th>Market Cap</th>
            <th>Listed At</th>
        </tr>
        {%for i in Data.coins%}
        <tr class="obj">
            <td>#{{i.rank}}</td>

            <td>
                <img src="{{i.iconUrl}}" style="width: 20px;height: 20px;vertical-align:middle;"></img>
                <a href="{%url 'DetailedCrypto' i.uuid%}">
                    <span>{{i.name}}({{i.symbol}})</span>
                </a>
            </td>
            </a>
            <td style="text-align: right;"><span class="filterint">{{i.change}}</span></td>
            <td style="text-align: right;">$<span class="filterint" data-target="{{i.price}}">{{i.price}}</span></td>
            
            <td style="text-align: right;">$<span class="filterint" data-target="{{i.24hVolume}}">{{i.24hVolume}}</span></td>
            <td style="text-align: right;">$<span class="filterint" data-target="{{i.marketCap}}">{{i.marketCap}}</span></td>
            <td style="text-align: right;"><span class="epoch">{{i.listedAt}}</span></td>
        </tr>
        {%endfor%}
    </table>
</div>

<div class="pages">
    <ul>
        {%if UrlPage > 2%}
        <a href="{%url 'CryptoIndex' 1%}"><li>1</li></a>
        <li>...</li>
        <a href="{%url 'CryptoIndex' -1|add:UrlPage%}"><li>{{UrlPage|add:"-1"}}</li></a>
        {%endif%}
        <!--
        {%if UrlPage >= MaxPage|add:"-5"%}
        <a href="{%url 'CryptoIndex' MaxPage|add:'-4'%}"><li>{{MaxPage|add:'-4'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-3'%}"><li>{{MaxPage|add:'-3'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-2'%}"><li>{{MaxPage|add:'-2'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage|add:'-1'%}"><li>{{MaxPage|add:'-1'}}</li></a>
        <a href="{%url 'CryptoIndex' MaxPage%}"><li>{{MaxPage}}</li></a>
        
        {%endif%}
        -->
        {%for i in '012345'|make_list %}
        {%if i == '0'%}
        <li class="activepage">{{i|add:UrlPage}}</li>
        {%else%}
        <a href="{%url 'CryptoIndex' i|add:UrlPage%}"><li>{{i|add:UrlPage}}</li></a>
        {%endif%}
        {%endfor%}
        {%if UrlPage < MaxPage|add:"-5"%}
        <li>...</li>
        <a href="{%url 'CryptoIndex' 0|add:MaxPage%}"><li>{{MaxPage}}</li></a>
        {%endif%}
    </ul>
</div>

<script>
    let ep = document.querySelectorAll(".epoch");
    ep.forEach(element => {
        element.innerHTML = convertepoch(element.innerHTML);
    });

    function convertepoch(date){
        var myDate = new Date(date*1000);
        return myDate.toLocaleString();
    }
    
</script>
{%endblock%}