<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{%block Title%}{%endblock%}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> {%load static%}
    <link href='{%static "style.css"%}' rel='stylesheet'> {%block style%} {%endblock%}
</head>

<body>

    <ul class="nav">
        {%if request.path == "/Cryptos"%}
        <li><a class="active" href="{%url 'CryptoIndex'%}">Cryptos</a></li>
        <li><a href="{%url 'Home'%}">Home</a></li>
        {%else%}
        <li><a href="{%url 'CryptoIndex' 1%}">Cryptos</a></li>
        <li><a class="active" href="{%url 'Home'%}">Home</a></li>
        {%endif%}
    </ul>

    {%block content%} {%endblock%}

    <script>
        function commas(num) {
            num = parseFloat(num).toFixed(2);
            num = num.toString();
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        commaobj = document.querySelectorAll(".fixcomma");
        commaobj.forEach(ele => {
            ele.innerHTML = commas(ele.innerHTML);
        })

        function commasint(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        const query = document.querySelectorAll(".animate");
        const speed = 100;
        query.forEach(element => {
            const updateCount = () => {
                target = +element.getAttribute("data-target");
                count = +element.innerText;

                inc = target * 0.01;

                if (count < target) {
                    element.innerText = count + inc;
                    setTimeout(updateCount, 1);
                } else {
                    element.innerText = "$" + commas(target);
                }
            }

            updateCount();
        });
        const queryw = document.querySelectorAll(".animatew");
        queryw.forEach(element => {
            const updateCount = () => {
                target = +element.getAttribute("data-target");
                count = +element.innerText;

                inc = target * 0.01;

                if (count < target) {
                    element.innerText = count + inc;
                    setTimeout(updateCount, 1);
                } else {
                    element.innerText = commasint(target);
                }
            }

            updateCount();
        });


        let a = document.querySelectorAll(".filterint");
        a.forEach(element => {
            element.innerHTML = commas(element.innerHTML);
        });
    </script>
</body>

</html>